@import '~normalize.css/normalize';

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;

  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex: 0 0 45px;
  padding: 0 1em;
  font-size: 1.2em;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 50;

  &-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navlink {
    padding-right: 1em;
    text-decoration: none;
    color: black;
    opacity: 0.8;

    &:hover,
    &.active {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

.main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  .page {
    max-height: calc(100vh - 45px);
  }
}
